{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
<div class="app-phase-banner__wrapper">
{% if PULL_REQUEST %}
  {% set phaseBannerText %}
    [[PHASE BANNER TEXT]]
  {% endset %}

  {{ govukPhaseBanner({
    "tag": {
      "text": "preview",
      "classes": "app-tag--review"
    },
    "classes": "app-phase-banner app-width-container",
    "html": phaseBannerText
  }) }}
{% else %}
    {{ govukPhaseBanner({
      "tag": {
        "text": "beta"
      },
      "classes": "app-phase-banner app-width-container",
      "html": "This is a new service – your <a class=\"govuk-link\" href=\"#\">feedback</a> will help us to improve it."
    }) }}
  {% endif %}
</div>
