<div class="app-masthead">
  <div class="app-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-xl app-masthead__title">Title</h1>
            <p class="app-masthead__description">Description</p>
            {% from "govuk/components/button/macro.njk" import govukButton %}
            {{ govukButton({
              "text": "Get started",
              "href": "#",
              "classes": "app-button--inverted govuk-!-margin-top-6 govuk-!-margin-bottom-0",
              "isStartButton": "true"
            }) }}
        </div>
    </div>
  </div>
</div>
