---
heading: Create pages from templates
title: Create pages from templates
---

The Prototype Kit comes with templates so that you can create pages that are commonly used across government services.

To use them:

1. In the terminal start your prototype.

2. In your browser go to the **Templates** section of **Manage your prototype** (http://localhost:3000/manage-prototype/templates).

From these templates you can create a:

* GOV.UK page
* Unbranded page
* Question page
* Content page
* Task list
* Check your answers
* Confirmation page

The Prototype Kit also has templates for GOV.UK guidance and publishing pages:

* Mainstream guide
* Start page

You cannot make changes to the design of the GOV.UK guidance and publishing templates, you can only change the content on the page. The mainstream guide and start page templates are to help you prototype realistic journeys connecting your service with the GOV.UK website.

Read the guidance for mainstream guides in [Content design: planning, writing and managing content](https://www.gov.uk/guidance/content-design).

Read the [Start using a service guidance](https://design-system.service.gov.uk/patterns/start-using-a-service) to learn how to get a start page for your service.

## Step by step navigation

Step by step navigation is for a page outside your transactional service. It’s available as a plugin for the Prototype Kit so you can prototype your journeys for testing. To install, go to the **Plugins** section of **Manage your prototype**.

Read the [step by step navigation guidance](https://design-system.service.gov.uk/patterns/step-by-step-navigation).