---
heading: Update to the latest version of the Prototype Kit
caption: Update to the latest version of the Kit
---

To get bug fixes and new features, update your prototypes to the latest version of the kit.

1. In the terminal, start your prototype.

2. In the browser, go to **Manage your prototype**.
http://localhost:3000/manage-prototype

3. This page shows the version your prototype is on and if a newer version is available.

4. If a new version is available, you can update your prototype.

You will need to do this for each prototype you are working on.

## Get help

If you have a question or need help [contact the GOV.UK Prototype team](./support)

Tell us as much as you can about the issue you're having and the operating system you're using.

{% include "_new-version-inset-text.njk" %}
