---
layout: install_template.html
heading: Getting started - advanced guide
caption: Create a prototype
---

The Prototype Kit runs in Node.js. It is built on the [Express framework](http://expressjs.com/) and uses [GOV.UK Frontend](https://github.com/alphagov/govuk-frontend).


## Requirements

Node.js LTS version 18.x.x

## Create a prototype

1. Create a new folder for your prototype.

2.  In that folder run:

`npx govuk-prototype-kit@latest create`

## Run the kit

In your terminal run:

`npm run dev`

[Go to localhost:3000](http://localhost:3000) in your browser.
