---
layout: install_template.html
heading: Prototype Kit requirements
caption: Create a prototype for new users
---

The GOV.UK Prototype Kit runs on Mac, Windows and Linux. At a minimum you’ll need a web browser and Node.js (install instructions below).

## Terminal

Macs come with a terminal application already. 

You'll need to use the terminal application to install, start and stop the kit. Using a terminal is sometimes called ‘using the command line’.

It’s located in the `Utilities` folder in the `Applications` folder. You can also find it using spotlight (magnifying glass icon in the top right) and typing 'terminal'.

## Software you need

You'll usually need admin access to your machine to install the software.

If you do not have admin access, ask your IT team to install the software for you.

GDS staff can install the software themselves with the Self Service app.

You'll need a code editor. These two are popular, well established and fairly accessible:

* [VS Code](https://code.visualstudio.com/)
* [Notepad++](https://notepad-plus-plus.org/) (Windows only)

You'll also need to [install Node.js](node-mac) (version 18.x.x).
