---
layout: install_template.html
heading: Prototype Kit requirements (Linux)
caption: Create a prototype for new users
---

You'll usually need admin access to your machine to install the software.

If you do not have admin access, ask your IT team to install the software for you.

GDS staff can install the software themselves with the Self Service app.

You'll need:

- a terminal
- a code editor
- Node.js 18.x.x

## Terminal

Linux comes with a terminal application. 

You'll need to use the terminal to create, start and stop prototypes. Using a terminal is sometimes called ‘using the command line’.

## Code editor

[VS Code](https://code.visualstudio.com/) is a well established and fairly accessible code editor.

{{ govukDetails({
  summaryText: "VS Code keyboard shortcuts",
  text: "
  * `ctrl` and `s` = save your changes
  * `ctrl` and `p` = search for a file in your project
  * `ctrl` and `f` = search for something in your file

  You can find more shortcuts at [Visual Studio Code's tips and tricks](https://code.visualstudio.com/docs/getstarted/tips-and-tricks).
  "

}) }}

{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{{ govukPagination({
  next: {
    labelText: "Install Node",
    href: "node-linux"
  }
}) }}