---
layout: install_template.html
heading: Prototype Kit requirements (Mac)
caption: Create a prototype for new users
---

You'll usually need admin access to your machine to install the software.

If you do not have admin access, ask your IT team to install the software for you.

GDS staff can install the software themselves with the Self Service app.

You'll need:

- a terminal
- a code editor
- Node.js 18.x.x

## Terminal

Macs come with a terminal application. 

You'll need to use the terminal to create, start and stop prototypes. Using a terminal is sometimes called ‘using the command line’.

There are 2 ways that you can run the terminal using spotlight: 

- select the magnifying glass icon in the top right and type 'terminal' 
- press the command and space keys together and type 'terminal'

## Code editor

[VS Code](https://code.visualstudio.com/) is a well established and fairly accessible code editor.

{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "VS Code keyboard shortcuts",
  text: "
  * `command` and `s` = save your changes
  * `command` and `p` = search for a file in your project
  * `command` and `f` = search for something in your file

  [Find out more about how to use VS Code](https://code.visualstudio.com/docs/introvideos/basics)
  "

}) }}


{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{{ govukPagination({
  next: {
    labelText: "Install Node",
    href: "node-mac"
  }
}) }}