---
layout: install_template.html
heading: Prototype Kit requirements
caption: Create a prototype for new users
---

The GOV.UK Prototype Kit runs on Mac, Windows and Linux. At a minimum you’ll need a web browser and Node.js (install instructions below).


## Software you need

You'll usually need admin access to your machine to install the software.

If you do not have admin access, ask your IT team to install the software for you.

GDS staff can install the software themselves with the Self Service app.

You'll need:

* Node.js 18.x.x
* A terminal or Git Bash if you're using Windows, see below

## Terminal

You'll need a terminal application to install, start and stop the kit. Using a terminal is sometimes called ‘using the command line’.

### Mac and Linux

Macs and Linux come with a terminal application already.

On a Mac it’s located in the `Utilities` folder in the `Applications` folder. You can also find it using spotlight (magnifying glass icon in the top right) and typing 'terminal'.

Next, [install Node.js](node)

### Windows

This guide will use `Git Bash` as a terminal instead of the existing `CMD` application. Git Bash is more fully featured and uses the same commands as Mac and Linux, so instructions in this guide work for all.

Installing `Git Bash` installs 2 things for you:

* a terminal (for entering commands) and
* Git (used later to share your work with others)

#### Installing Git Bash for Windows users

Download [Git Bash (direct download)](https://git-scm.com/download/win).

When you install, on the screen **Choosing the default editor used by Git** select **Use Nano editor by default** (you may need to scroll the options to see it).

On all other screens, continue with the default options.

Next, [install Node.js](node)
