---
heading: Link your index page to your start page
caption: Build a basic prototype
---

You can route users from your service's index page to your start page. The index page is the page that loads when users [go to http://localhost:3000](http://localhost:3000).

1. Open the `index.html` file in your `app/views` folder.
2. Add a link to the start of your service using the code:

```
<p class="govuk-body"><a href="/start" class="govuk-link">Go to the start page</a>.</p>
```

You have completed building a basic prototype. 

If you want to learn more about how to use the GOV.UK Prototype Kit, you can [view our tutorials and guides](../tutorials-and-guides).