---
heading: Open your prototype in your editor
caption: Build a basic prototype
---

You can manage your prototype in 2 ways:

* through the **Manage your prototype** page
* in your code editor

In your code editor open your prototype folder. You will see the files and folders that you can edit in your prototype.

## Files and folders in your prototype

`/app` is the main folder that includes everything for your prototype. Inside that folder:

  - `views` is where you can find all your pages and layouts
  - `assets` is where you can see the answers that users give to questions in your prototype (called session data)
  - `routes.js` is for advanced logic - for example, if a user should go to one page or another based on their answer

You can learn more about these features after you finish building a basic prototype. 

{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{{ govukPagination({
  next: {
    labelText: "Create pages",
    href: "create-pages"
  }
}) }}