---
permalink: "_redirects"
layout: false
---
{%- for page in collections.all -%}
{% for redirect in page.data.redirects -%}
{{ redirect }}	{{ page.url }}
{% endfor %}
{%- endfor %}

# Serve a 410 status code for archived pages
{% for url in archivedPages -%}
{{ url }}	{{ url }}	410!
{% endfor %}
