---
permalink: "_redirects"
layout: false
---
{%- for page in collections.all -%}
{% for redirect in page.data.redirects -%}
{{ redirect }}	{{ page.url }}
{% endfor %}
{%- endfor %}

# Serve a 410 status code for archived pages
{% for url in archivedPages -%}
{{ url }}	{{ url }}	410!
{% endfor %}

# Maintain v12 redirects to GitHub
/v12/docs/download	https://github.com/alphagov/govuk-prototype-kit/releases/download/v12.3.0/govuk-prototype-kit-12.3.0.zip
/v12/docs/update.sh	https://raw.githubusercontent.com/alphagov/govuk-prototype-kit/v12.3.0/update.sh

# 404 pages

/* /404/ 404
