name: Tests (Heroku)

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-heroku:

    name: Test on Heroku
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5.0.0
    - name: Use Node v24
      uses: actions/setup-node@v6.0.0
      with:
        cache: 'npm'
        node-version-file: '.nvmrc'
    - run: npm ci
    - run: npm run test:heroku
